# Use the Google style in this project.
BasedOnStyle: Google

IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<.*\.h>'
    Priority:        1
  - Regex:           '^<.*'
    Priority:        2
  - Regex:           '.*\.pb\.h"$'
    Priority:        5
  - Regex:           '^"yacl.*'
    Priority:        4
  - Regex:           '^".*'
    Priority:        3