# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
# created-by: conda 24.9.1
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=2_gnu
absl-py=2.1.0=pypi_0
aiobotocore=2.15.2=pypi_0
aiohappyeyeballs=2.4.3=pypi_0
aiohttp=3.10.10=pypi_0
aioitertools=0.12.0=pypi_0
aiosignal=1.3.1=pypi_0
annotated-types=0.7.0=pypi_0
anyio=4.6.2.post1=pypi_0
argon2-cffi=23.1.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
arrow=1.3.0=pypi_0
asttokens=2.4.1=pypi_0
astunparse=1.6.3=pypi_0
async-lru=2.0.4=pypi_0
async-timeout=4.0.3=pypi_0
attrs=24.2.0=pypi_0
babel=2.16.0=pypi_0
beautifulsoup4=4.12.3=pypi_0
bleach=6.1.0=pypi_0
botocore=1.35.36=pypi_0
bzip2=1.0.8=h4bc722e_7
ca-certificates=2024.8.30=hbcca054_0
cachetools=5.5.0=pypi_0
certifi=2024.8.30=pypi_0
cffi=1.17.1=pypi_0
charset-normalizer=3.4.0=pypi_0
clean-text=0.6.0=pypi_0
click=8.1.7=pypi_0
cloudpickle=3.1.0=pypi_0
comm=0.2.2=pypi_0
contourpy=1.3.0=pypi_0
cryptography=43.0.1=pypi_0
cycler=0.12.1=pypi_0
debugpy=1.8.7=pypi_0
decorator=5.1.1=pypi_0
defusedxml=0.7.1=pypi_0
dill=0.3.9=pypi_0
emoji=1.7.0=pypi_0
exceptiongroup=1.2.2=pypi_0
executing=2.1.0=pypi_0
fastapi=0.115.2=pypi_0
fastjsonschema=2.20.0=pypi_0
filelock=3.16.1=pypi_0
flatbuffers=2.0.7=pypi_0
fonttools=4.54.1=pypi_0
fqdn=1.5.1=pypi_0
frozenlist=1.4.1=pypi_0
fsspec=2024.2.0=pypi_0
ftfy=6.3.0=pypi_0
gast=0.4.0=pypi_0
google-auth=2.35.0=pypi_0
google-auth-oauthlib=1.0.0=pypi_0
google-pasta=0.2.0=pypi_0
grpcio=1.56.2=pypi_0
h11=0.14.0=pypi_0
h5py=3.12.1=pypi_0
httpcore=1.0.6=pypi_0
httpx=0.27.2=pypi_0
idna=3.10=pypi_0
interconnection=0.2.0.dev0=pypi_0
ipykernel=6.29.5=pypi_0
ipython=8.28.0=pypi_0
ipywidgets=8.1.5=pypi_0
isoduration=20.11.0=pypi_0
jax=0.4.26=pypi_0
jaxlib=0.4.26=pypi_0
jedi=0.19.1=pypi_0
jinja2=3.1.4=pypi_0
jmespath=1.0.1=pypi_0
joblib=1.4.2=pypi_0
json5=0.9.25=pypi_0
jsonpointer=3.0.0=pypi_0
jsonschema=4.23.0=pypi_0
jsonschema-specifications=2024.10.1=pypi_0
jupyter=1.1.1=pypi_0
jupyter-client=8.6.3=pypi_0
jupyter-console=6.6.3=pypi_0
jupyter-core=5.7.2=pypi_0
jupyter-events=0.10.0=pypi_0
jupyter-lsp=2.2.5=pypi_0
jupyter-server=2.14.2=pypi_0
jupyter-server-terminals=0.5.3=pypi_0
jupyterlab=4.2.5=pypi_0
jupyterlab-pygments=0.3.0=pypi_0
jupyterlab-server=2.27.3=pypi_0
jupyterlab-widgets=3.0.13=pypi_0
keras=2.12.0=pypi_0
kiwisolver=1.4.7=pypi_0
kuscia=0.0.2.dev240320=pypi_0
ld_impl_linux-64=2.43=h712a8e2_1
libclang=18.1.1=pypi_0
libffi=3.4.2=h7f98852_5
libgcc=14.2.0=h77fa898_1
libgcc-ng=14.2.0=h69a702a_1
libgomp=14.2.0=h77fa898_1
libnsl=2.0.1=hd590300_0
libsqlite=3.46.1=hadc24fc_0
libuuid=2.38.1=h0b41bf4_0
libxcrypt=4.4.36=hd590300_1
libzlib=1.3.1=hb9d3cd8_2
lightning-bolts=0.7.0=pypi_0
lightning-lite=1.8.6=pypi_0
lightning-utilities=0.11.8=pypi_0
llvmlite=0.40.1=pypi_0
markdown=3.7=pypi_0
markupsafe=3.0.1=pypi_0
matplotlib=3.9.2=pypi_0
matplotlib-inline=0.1.7=pypi_0
mistune=3.0.2=pypi_0
ml-dtypes=0.5.0=pypi_0
mpmath=1.3.0=pypi_0
msgpack=1.1.0=pypi_0
multidict=6.1.0=pypi_0
multiprocess=0.70.17=pypi_0
nbclient=0.10.0=pypi_0
nbconvert=7.16.4=pypi_0
nbformat=5.10.4=pypi_0
ncurses=6.5=he02047a_1
nest-asyncio=1.6.0=pypi_0
networkx=2.8.8=pypi_0
nltk=3.9.1=pypi_0
notebook=7.2.2=pypi_0
notebook-shim=0.2.4=pypi_0
numba=0.57.0=pypi_0
numpy=1.24.3=pypi_0
nvidia-cublas-cu12=12.1.3.1=pypi_0
nvidia-cuda-cupti-cu12=12.1.105=pypi_0
nvidia-cuda-nvrtc-cu12=12.1.105=pypi_0
nvidia-cuda-runtime-cu12=12.1.105=pypi_0
nvidia-cudnn-cu12=8.9.2.26=pypi_0
nvidia-cufft-cu12=11.0.2.54=pypi_0
nvidia-curand-cu12=10.3.2.106=pypi_0
nvidia-cusolver-cu12=11.4.5.107=pypi_0
nvidia-cusparse-cu12=12.1.0.106=pypi_0
nvidia-nccl-cu12=2.18.1=pypi_0
nvidia-nvjitlink-cu12=12.6.77=pypi_0
nvidia-nvtx-cu12=12.1.105=pypi_0
oauthlib=3.2.2=pypi_0
onnx=1.16.0=pypi_0
opacus=1.5.2=pypi_0
openssl=3.3.2=hb9d3cd8_0
opt-einsum=3.4.0=pypi_0
overrides=7.7.0=pypi_0
packaging=24.1=pypi_0
pandas=1.5.3=pypi_0
pandocfilters=1.5.1=pypi_0
parso=0.8.4=pypi_0
pexpect=4.9.0=pypi_0
pillow=11.0.0=pypi_0
pip=24.2=pyh8b19718_1
platformdirs=4.3.6=pypi_0
prometheus-client=0.21.0=pypi_0
prompt-toolkit=3.0.48=pypi_0
propcache=0.2.0=pypi_0
protobuf=4.25.5=pypi_0
psutil=6.1.0=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.3=pypi_0
pyarrow=14.0.2=pypi_0
pyasn1=0.6.1=pypi_0
pyasn1-modules=0.4.1=pypi_0
pycparser=2.22=pypi_0
pydantic=2.9.2=pypi_0
pydantic-core=2.23.4=pypi_0
pygments=2.18.0=pypi_0
pyparsing=3.2.0=pypi_0
python=3.10.15=h4a871b0_2_cpython
python-dateutil=2.9.0.post0=pypi_0
python-json-logger=2.0.7=pypi_0
pytorch-lightning=1.9.5=pypi_0
pytz=2024.2=pypi_0
pyyaml=6.0.2=pypi_0
pyzmq=26.2.0=pypi_0
ray=2.9.3=pypi_0
readline=8.2=h8228510_1
referencing=0.35.1=pypi_0
regex=2024.9.11=pypi_0
requests=2.32.3=pypi_0
requests-oauthlib=2.0.0=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
rpds-py=0.20.0=pypi_0
rsa=4.9=pypi_0
s3fs=2024.2.0=pypi_0
scikit-learn=1.3.2=pypi_0
scipy=1.14.1=pypi_0
sdc-apis=0.1.0.dev240320=pypi_0
sdc-sdk=0.1.0.dev240320=pypi_0
seaborn=0.13.2=pypi_0
secretflow=1.9.0.dev20241018=pypi_0
secretflow-rayfed=0.2.1a2=pypi_0
secretflow-serving-lib=0.5.0.dev20240702=pypi_0
send2trash=1.8.3=pypi_0
setuptools=69.5.1=pypi_0
sf-heu=0.5.0b0=pypi_0
six=1.16.0=pypi_0
sniffio=1.3.1=pypi_0
soupsieve=2.6=pypi_0
sparse=0.15.4=pypi_0
spu=0.9.1.dev20240524=pypi_0
sqlglot=25.5.1=pypi_0
stack-data=0.6.3=pypi_0
starlette=0.40.0=pypi_0
sympy=1.13.3=pypi_0
tabulate=0.9.0=pypi_0
tensorboard=2.12.3=pypi_0
tensorboard-data-server=0.7.2=pypi_0
tensorflow=2.12.1=pypi_0
tensorflow-estimator=2.12.0=pypi_0
tensorflow-io-gcs-filesystem=0.37.1=pypi_0
termcolor=2.5.0=pypi_0
terminado=0.18.1=pypi_0
tf2onnx=1.14.0=pypi_0
threadpoolctl=3.5.0=pypi_0
tinycss2=1.3.0=pypi_0
tk=8.6.13=noxft_h4845f30_101
tomli=2.0.2=pypi_0
torch=2.1.2=pypi_0
torchaudio=2.1.2=pypi_0
torchmetrics=1.3.2=pypi_0
torchvision=0.16.2=pypi_0
tornado=6.4.1=pypi_0
tqdm=4.66.5=pypi_0
traitlets=5.14.3=pypi_0
triton=2.1.0=pypi_0
types-python-dateutil=2.9.0.20241003=pypi_0
typing-extensions=4.7.1=pypi_0
tzdata=2024b=hc8b5060_0
uri-template=1.3.0=pypi_0
urllib3=2.2.3=pypi_0
uvicorn=0.32.0=pypi_0
validator-py=1.3.0=pypi_0
wcwidth=0.2.13=pypi_0
webcolors=24.8.0=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.8.0=pypi_0
werkzeug=3.0.4=pypi_0
wheel=0.44.0=pyhd8ed1ab_0
widgetsnbextension=4.0.13=pypi_0
wrapt=1.14.1=pypi_0
xgboost=1.7.5=pypi_0
xz=5.2.6=h166bdaf_0
yarl=1.15.4=pypi_0
