torch
transformers
datasets
huggingface-hub
jsonlines
matplotlib
nltk
numpy
pandas
pytorch-lightning
pytrec-eval
rank-bm25
scikit-learn
scipy
sentence-transformers
sentencepiece
tokenizers
tqdm
wget
beir