torch==1.13.0
transformers==4.34.0
accelerate==0.23.0
datasets==2.14.5
deepspeed==0.10.1
deepspeed_mii==0.0.7
flash_attn==2.2.1
huggingface_hub==0.16.4
nltk==3.4.5
numpy==1.24.4
peft==0.6.0
tqdm==4.66.1
trl==0.7.1
git+https://github.com/flairNLP/flair
git+https://github.com/microsoft/dp-transformers.git@main#egg=dp_transformers
opacus




