matplotlib==3.5.2
myst-parser==0.18.1
nbsphinx==0.8.9
sphinx==5.3.0
sphinx_design==0.3.0
sphinx-autobuild==2021.3.14
pydata-sphinx-theme==0.10.1
sphinx-markdown-parser==0.2.4
sphinxcontrib-actdiag==3.0.0
sphinxcontrib-blockdiag==3.0.0
sphinxcontrib-mermaid==0.7.1
sphinxcontrib-nwdiag==2.0.0
sphinxcontrib-seqdiag==3.0.0
sphinx-markdown-tables==0.0.17
pytablewriter==0.64.2
linkify-it-py==2.0.0
sphinx-intl==2.0.1
autodocsumm==0.2.9
secretflow==0.7.11b1