matplotlib
myst-parser
ipython
nbsphinx
sphinx
sphinx-panels
sphinx-autobuild
pydata-sphinx-theme
sphinx-markdown-parser
sphinxcontrib-actdiag
sphinxcontrib-blockdiag
sphinxcontrib-mermaid
sphinxcontrib-nwdiag
sphinxcontrib-seqdiag
sphinx-markdown-tables
pytablewriter
linkify-it-py
secretflow