matplotlib
myst-parser
nbsphinx
sphinx
sphinx_design
sphinx-autobuild
pydata-sphinx-theme
sphinx-markdown-parser
sphinxcontrib-actdiag
sphinxcontrib-blockdiag
sphinxcontrib-mermaid
sphinxcontrib-nwdiag
sphinxcontrib-seqdiag
sphinx-markdown-tables
pytablewriter
linkify-it-py
sphinx-intl
autodocsumm
